<div class="container">


  {{#if session.isAuthenticated}}
    <h1>Hi, {{sessionAccount.account.name}}</h1>

    <li>Email: {{sessionAccount.account.email}}</li>
    <li><a href="#" {{action 'invalidateSession'}}>Logout</a></li>
  {{else}}
    <h1>Emberjs Rails Authentication</h1>

    <li>{{#link-to 'login'}}Log In{{/link-to}}</li>
    <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
  {{/if}}
  <br>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Session Info</strong></div>

    <div class="panel-body" style="background-color: #FEFFFF;">
      <ul>
        <li>
          <strong>Session is authenticated?</strong>  {{session.isAuthenticated}}
        </li>
        <li>
          <strong>Session Contents:</strong>
            <p style="word-wrap: break-word;">{{session-object-formatter session.data.authenticated}}</p>
        </li>
      </ul>
    </div>
  </div>
  {{outlet}}
</div>

